{% extends "layout.html" %}
{% block content %}
            <div class="container">
                <div class="edit-entry">
                    <h2>Edit Entry</h2>
                    <form method="POST" action="">
                      {{ form.hidden_tag() }}
                        <label for="title"> Title</label>
                        <input id="title" type="text" name="title" value="{{ journal.title }}"><br>
                        <label for="date">Date</label>
                        <input id="date" type="date" name="date" value="{{ journal.date }}"><br>
                        <label for="time_spent"> Time Spent</label>
                        <input id="time_spentt" type="text" name="time_spent" value="{{ journal.time_spent }}"><br>
                        <label for="what_you_lean">What I Learned</label>
                        <textarea id="what_you_lean" rows="5" name="what_you_lean">{{ journal.what_you_lean }}</textarea>
                        <label for="resource_to_remember">Resources to Remember</label>
                        <textarea id="resource_to_remember" rows="5" name="resource_to_remember" >{{ journal.resource_to_remember }}</textarea>
                        <input type="submit" value="Publish Entry" class="button">
                        <a href="{{ url_for('detail', id=journal.id) }}" class="button button-secondary">Cancel</a>
                        {% if form.errors%}
                          {{ form.errors }}
                        {% endif %}
                    </form>
                </div>
            </div>
{% endblock %}
