{% extends "layout.html" %}
{% block content %}
            <div class="container">
                <div class="entry-list">
                  {% if not journals%}
                  <article>
                      <h2>there is no Journey now</h2>
                  </article>
                  {% endif %}
                  {% for journal in  journals%}
                  <article>
                      <h2><a href="{{ url_for('detail', slug = journal.slug) }}">{{ journal.title }}</a></h2>
                      <time datetime="{{ journal.date }}">{{ journal.date }}</time>
                      {% for tag in tags%}
                        {% if tag.tag_on_journal.title == journal.title %}
                          <p><a href="{{ url_for('show_tag', tag = tag.tag_name) }}">tag:  {{ tag.tag_name }} </a></p>
                        {% endif %}
                      {% endfor %}

                  </article>
                  {% endfor %}
                </div>
            </div>
{% endblock %}
